
<br>

<div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">

          <div class="col-md-7">
            <!-- Billing Details -->
            <div class="billing-details">
              <div class="section-title">
                <h3 class="title">Add Faculty</h3>
              </div>
              <br>

              <div class="form-group" >
                 <form action="" method="POST" class="form-group">
               <div>

                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="first_name" placeholder="First Name" required>
                 </div>
                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="last_name" placeholder="Last Name" required>
                 </div>

                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="last_name" placeholder="Email" required>
                 </div>
                 <div class="form-group md-col-5" style="margin: 5px">

                   <input class="form-control" type="email" name="email" placeholder="Phone Number" required>
                 </div>

<br>
  &nbsp&nbsp<input type="checkbox" name="" value=""> Make Admin?<br>



<br>
                 <div class="section-title">
                   <h4 class="title">Login Credentials</h3>
                 </div>
<br>
                 <div class="form-group md-col-5" style="margin: 5px">

                   <input class="form-control" type="text" name="street" placeholder="Password" required>
                 </div>
                 <div class="form-group md-col-5" style="margin: 5px">



                   <input class="form-control" type="number" name="quantity" placeholder="Confirm Password" required>
                 </div>
                 <div class="form-group" style="margin: 5px">
                 </div>
                 <br>
                 <div class="form-group" style="margin: 5px">
                   <input type="hidden" name="product_name" value="{{name}}" readonly="">
                   <input  type="hidden" name="product_id2" value="{{idnumber}}" readonly="">
                    <input class="primary-btn order-submit" type="submit"  name="submit" value="Submit">
                 </div>

               </div>
              </form>
              </div>

            </div>
            <!-- /Billing Details -->

          </div>


          <!-- /Order Details -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
