
<br>

<div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">

          <div class="col-md-7">
            <!-- Billing Details -->
            <div class="billing-details">
              <div class="section-title">
                <h3 class="title">Add Class</h3>
              </div>
              <br>

              <div class="form-group" >
                 <form action="" method="POST" class="form-group">
               <div>

                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="first_name" placeholder="Batch" required>
                 </div>
                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="last_name" placeholder="Section" required>
                 </div>

                 <div class="form-group md-col-5" style="margin: 5px">

                   <input style="" class="form-control" type="text" name="last_name" placeholder="Adviser" required>
                 </div>

<br>
                 
                 <div class="form-group" style="margin: 5px">
                   <input type="hidden" name="product_name" value="{{name}}" readonly="">
                   <input  type="hidden" name="product_id2" value="{{idnumber}}" readonly="">
                    <input class="primary-btn order-submit" type="submit"  name="submit" value="Submit">
                 </div>

               </div>
              </form>
              </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>

    </div>
    </div>
