
<br>
<h4>Students</h4>
<button type="button" class="btn btn-outline-primary float-right" id="facultybutton"><a href="/admin/students/add">Add Student</a></button>
<br>
<br>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">
						<label>ID</label>
					</th>
					<th class="text-center">
						<label>Name</label>
					</th>
					<th class="text-center">
						<label>Email</label>
					</th>
					<th class="text-center">
						<label>Phone</label>
					</th>

					<th class="text-center">
						<label>Details</label>
					</th>

				</tr>
			</thead>
			<tbody>

					<tr>
						<td class="text-center"></td>
						<td class="text-center"></td>
						<td class="text-center"></td>
						<td class="text-center"></td>
						<td class="text-center"><a href="url">View</a></td>

					</tr>

			</tbody>
		</table>
	</div>
  <br><br>
